.estabs-div {
   width: 35%;
   overflow-y: scroll;
   float: left;
   margin-top: 2.5%;
   scrollbar-width: 0;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: rgb(63, 63, 63) !important;
}

.estabs-div::-webkit-scrollbar {
   display: none;
}

.main-map-div {
   width: 55% !important;  
   overflow: scroll;
   float: left;
   border-radius: 10px !important;
}