.estabs-div {
   width: 35%;
   height: 75vh !important;
   overflow-y: scroll;
   float: left;
   margin-top: 7vh;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: rgba(63, 63, 63, 0) !important;
}

.wrapper:hover {
   transform: none !important;
}

.container:hover {
   transform: none !important;
}

.main-map-div {
   width: 55% !important;  
   overflow: scroll;
   float: left;
   border-radius: 10px !important;
}

.estabs-div::-webkit-scrollbar {
   width: 10px;;
}
.estabs-div::-webkit-scrollbar-track {
   background: #44444417;
}
.estabs-div::-webkit-scrollbar-thumb {
   background-color: rgb(105, 105, 105) !important;
}
.estabs-div::-webkit-scrollbar-thumb:hover {
   background-color: #a0a0a0 !important;
}