.card-wrapper {
  height: 10vh;
  margin: 1%;
  width: 30vw;
  border-radius: 4px;
  background-color: rgb(48, 48, 48);
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  color: rgb(192, 192, 192);
  padding: 3%;
  padding-top:4%;
  transition: all .5s;
  cursor: pointer;
  animation: fadeIn .5s ease;
}

.card-wrapper:hover {
  overflow: hidden;
  background-color: rgba(21, 51, 76, 0.596);
  height: 29vh;
  /* border-radius: 20px; */
  /* min-height: fit-content;   */
  /* filter: brightness(1); */
}

.r-5:hover {
  background-color: #49b675;
}

.r4-3:hover {
  background-color: #e9cb4e;
}

.r1-2:hover {
  background-color: #e04d6b;
}
/* these different :hovers are color-coding the estabCards based on categorizing ratings */
.name {
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all .25s;
}

.card-wrapper:hover > .name {
  color: rgb(0, 0, 0);

}

.card-wrapper:hover > .info-pane {
  display: block;
  opacity: 1;
}

.color-code-name-box-estab-card-5 {
  font-size: 1.5vh !important;
  position: fixed;
  top: 10%;
  right: 2%;
  /* margin-top: 0vh; */
  /* margin-bottom: 2%;; */
  color: #49b675;
  opacity: 1;
}

.card-wrapper:hover > .color-code-name-box-estab-card-5 {
  /* opacity: 0; */
  display: none;

}

.color-code-name-box-estab-card-4-3 {
  font-size: 1.5vh !important;
  position: fixed;
  top: 10%;
  right: 2%;
  /* margin-top: 0vh; */
  /* margin-bottom: 2%;; */
  color: #e9cb4e;
  opacity: 1;
}

.card-wrapper:hover > .color-code-name-box-estab-card-4-3 {
  /* opacity: 0; */
  display: none;
}

.color-code-name-box-estab-card-1-2 {
  font-size: 1.5vh !important;
  position: fixed;
  top: 10%;
  right: 2%;
  /* margin-top: 0vh; */
  /* margin-bottom: 2%;; */
  color: #e04d6b;
  opacity: 1;
}

.card-wrapper:hover > .color-code-name-box-estab-card-1-2 {
  /* opacity: 0; */
  display: none;
}

.info-pane {
  opacity: 0;
  margin-top: 2%;
  line-height: 1.5vh;
  display: none;
  transition: all .25s ease-in-out;
  animation: fade-in .25s ease-in-out both;
  /* animation-delay: .05s; */
  text-align: left;
  padding-left: 2%;
  font-size: 1vw;
  color: rgb(161, 161, 161);
}

.no-results {
  position: relative !important;
  top: 30%;
  transform: translateY(-50%);
  color: white !important; 
  font-size: 2vh !important;
  line-height: normal !important;
  user-select: none !important;
}

.info-pane span {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.blacklist-button {
  color: rgb(151, 28, 28);
  color: rgb(49, 49, 49);
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  letter-spacing: -.9vh;
  text-orientation: upright;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  transition: all .5s;
  padding-top: 2%;
  font-size: 1.5vh;
  font-weight: bold;;
  z-index: 99;
}

.blacklist-button:hover {
  /* border: 2px solid white; */
  color: rgb(255, 255, 255);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}