 .wrapper {
   width: 250px;
   height: 200px;
   background: rgb(56, 153, 160) !important;
   /* background: rgb(74, 185, 185) !important; */
   margin: auto;
   position: relative;
   overflow: hidden;
   display: inline-block;
   border-radius: 10px;
   transition: box-shadow 0.5s, transform 0.5s, color 1s, margin-left 5s ease-in-out !important;

 }

 .wrapper:hover {
   transform: scale(1.05) !important;
   /* box-shadow: 5px 20px 30px rgb(69, 134, 136); */
   z-index: 999;
   border: 2px solid rgb(0, 0, 0);
   margin-left: 1%;

 }
 
 .wrapper .container {
   width: 100%;
   height: 100%;
 }

 .card-contents-inside {
   font-size: .68vw;
   margin-top: -10px !important;
   padding-left: 2%;
   width: 95%;
   padding-right: 2%;
   text-align: left;
   overflow: hidden;
 }

 .card-contents-inside span {
   color: rgb(0, 238, 255);
   font-size: .75vw;
 }

 .estab-name-display {
   font-size: 35px;
   padding-bottom: 10%;
   padding-right: 10%;
   float: center;
 }

 .wrapper .container .top {
   padding-top: 30%;
   height: 100%;
   width: 100%;
   color: rgb(255, 255, 255);
   /* background: url(https://images.squarespace-cdn.com/content/v1/55cda908e4b0513a93e99588/1559768475510-KDO6QXL5ZL763YIS37ZV/ke17ZwdGBToddI8pDm48kC9qu2gvgDc1fHZgGjPXHQ5Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVGjw91RGhfjj5evWzHqs9oJjjqC-iiVlxKn7g29su4hW2bSd6kfRtgWHgNMDgGnmDY/hygiene-icon.png?format=300w) no-repeat center center;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
   background-size: 100%; */
 }

 .wrapper .container .bottom {
   width: 200%;
   height: 20%;
   transition: transform 0.5s;
 }
 
 .wrapper .container .bottom.clicked {
   transform: translateX(-50%);
 }
 
 .wrapper .container .bottom h1 {
   margin: 0;
   padding: 0;
 }
 
 .wrapper .container .bottom p {
   margin: 0;
   padding: 0;
 }
 
 .wrapper .container .bottom .left {
   height: 100%;
   width: 50%;
   background: #f4f4f4;
   position: relative;
   float: left;
 }
 
 .wrapper .container .bottom .left .details {
   font-size: 9px;
   padding: 20px;
   color: white;
   float: left;
   width: calc(70% - 40px);
 }
 
 .wrapper .container .bottom .left .blacklist {
   float: right;
   width: calc(30% - 2px);
   height: 100%;
   background: #000000;
   transition: background 0.5s;
   border-left: solid thin rgba(0, 0, 0, 0.1);
 }

 .wrapper .container .bottom .left .blacklist i {
   font-size: 9px;
   padding: 30px;
   color: #254053;
   transition: transform 0.5s;
 }

 .wrapper .container .bottom .left .blacklist:hover {
   background: rgb(0, 0, 0);
 }

 .wrapper .container .bottom .left .blacklist:hover i {
   transform: translateY(5px);
   color: #00394B;
 }

 .wrapper .container .bottom .right {
   width: 50%;
   background: #A6CDDE;
   color: white;
   float: right;
   height: 200%;
   overflow: hidden;
 }
 
 .wrapper .container .bottom .right .details {
   font-size: 9px;
   color: white;
   padding: 20px;
   float: right;
   width: calc(70% - 40px);
 }

 .wrapper .container .bottom .right .done {
   width: calc(30% - 2px);
   float: left;
   transition: transform 0.5s;
   border-right: solid thin rgba(255, 255, 255, 0.3);
   height: 50%;
 }
 
 .wrapper .container .bottom .right .done i {
   font-size: 15px;
   padding: 30px;
   color: white;
 }

 .wrapper .container .bottom .right .remove {
   width: calc(30% - 1px);
   clear: both;
   border-right: solid thin rgba(255, 255, 255, 0.3);
   height: 50%;
   background: rgb(0, 0, 0);
   transition: transform 0.5s, background 0.5s;
 }

 .wrapper .container .bottom .right .remove:hover {
   background: rgb(0, 0, 0);
 }
 
 .wrapper .container .bottom .right .remove:hover i {
   transform: translateY(5px);
 }
 
.wrapper .container .bottom .right .remove i {
   transition: transform 0.5s;
   font-size: 9px;
   padding: 30px;
   color: white;
 }

 .wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
   transform: translateY(-100%)  !important;
 }

 .wrapper .inside {
   z-index: 9;
   background: rgb(71, 71, 71) !important;
   width: 140px;
   height: 140px;
   position: absolute;
   top: -70px;
   right: -70px;
   color: white !important;
   border-radius: 0px 0px 200px 200px;
   transition: all 0.5s, border-radius 2s, top 1s;
   overflow: hidden !important;
 }  

 .wrapper .inside .icon {
   position: relative;
   right: 20%;
   top: 85px;
   color: rgb(255, 255, 255) !important;
   opacity: 1;
 }

 .wrapper .inside:hover {
   width: 100%;
   right: 0;
   top: 0;
   border-radius: 0;
   height: 100% !important;
 }

 .wrapper .inside:hover .icon {
   opacity: 0;
   right: 15px;
   top: 15px;
 }

 .wrapper .inside:hover .contents {
   opacity: 1;
   transform: scale(1);
   transform: translateY(0);
 }

 .wrapper .inside .contents {
   padding: 0%;
   opacity: 0;
   transform: scale(0.5);
   font-size: 290px !important; 
   transform: translateY(-200%);
   transition: opacity 0.2s, transform 0.8s;
 }

 .wrapper .inside .contents table {
   text-align: left;
   width: 200px;
 }

 .wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
   color: rgb(255, 255, 255) !important;
   font-size: 122px !important;
 }

 .wrapper .inside .contents p {
   /* font-size: 19px !important; */
 }

 th, td {
  font-size: 11px;
}

 .blacklist {
   z-index: 1199 !important;
    position: absolute;
    transition: all .25s;
    padding-top: 0%;
    font-size: .9vw;;
    right: 0;
    top: 50%;
    padding-right: 2%;
    transform: translateY(-50%);
    /* width: 100%; */
    text-align: center;
    cursor: pointer;
    writing-mode: vertical-rl;
    /* text-orientation: mixed; */
   color: rgb(197, 106, 106);
 }

 .blacklist:hover {
   color: rgb(216, 22, 22);
   /* padding-right: 1%; */

 }

 .card-table {
   font-size: 40px !important
   ;
 }

 .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: rgb(0, 0, 0);
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;
 }

 .tooltip:hover .tooltiptext {
   visibility: visible;
 }

 .title {
  height: 50px;
  color: rgb(0, 0, 0);
  background-color: #1eb461;
  background-size: 600% 600%;
  animation-name: background-anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  overflow: auto
 }
 
.estab-name {
  color:white;
}

@keyframes background-anim {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}  
}