body {
  font-family: 'Roboto', sans-serif !important;
}

.background {
  z-index: -1;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  max-height: 100vh
}

.filter-elements {
  margin-top: 8vh;
  position: fixed;
}

.search-div {
  float: left;
  background-color: aqua;
}

.submit-button {
  color: grey;
  cursor: pointer;
  transition: all .25s;
  position: absolute;
  width: fit-content;
  padding: .5%;
  /* margin-left: 2% !important; */
  /* left: 15% !important; */
  margin-left: 15vw;
  /* top: 4.75vh; */
  transform: translateY(35%);
  border-radius: 4px;
  font-size: 2.5vh !important;
  font-weight: bold;
  background-color: rgba(91, 145, 124, 0);

}

.submit-button:hover {
  /* background-color: rgb(91, 145, 124); */
  color: white;
}

.filter-search {
  /* width: 14% !important   ; */
  max-width: 11%;
  min-width: 11%;
  margin-top: 0vh;
  left: 20%;
  height: 3vh;
  max-height: 20px !important;
  min-height: 3vh;;
  z-index: 9;
  position: fixed;
  text-align: center;
  display: inline-block;
  border: none;
  color: rgb(85, 85, 85);
}

.filter-search:focus {
  outline: none;
}

.clear-search-button {
  color: rgb(161, 161, 161);
  position: absolute;
  margin-top: 0.5vh;
  max-height: 4vh;
  font-size: 3vh; 
  margin-left: 33vw;
  z-index: 9;
  cursor: pointer;
  border: 2px solid rgba(0, 255, 255, 0);
  border-radius: 5px;
  padding: .5%;
  font-weight: bold;
  transition: all .5s;
  user-select: none;
}

.clear-search-button:hover {
  color: rgb(255, 255, 255);
}

.search-by-address {
  left: 2vw;
}

.click-for-location-find {
  color: rgb(185, 185, 185);
  font-size: 1.75vh;
  border: 2px solid rgba(255, 255, 255, 0);
  padding: .7%;
  width: 13.75vw !important;
  left: .65vw;
  z-index: 99;
  margin-top:3.5vh !important;
  border-radius: 3px;
  position: absolute;
  cursor: pointer;
  transition: all .25s;
  background-color: rgba(128, 128, 128, 0);
  letter-spacing: .35vw;
  user-select: none;
}

.click-for-location-find:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(91, 145, 124);
  border-color: rgba(128, 128, 128, 0);
}

.bot-bar {
  color: rgb(199, 199, 199);
  position: absolute;
  z-index: 9;
  bottom: 0;
  padding: 1%;
  left: 0;
  height: 5vh !important;
  text-align: left;
  width: 100%;
  background-color: rgb(29, 29, 29);  
  font-size: 1vw;
  z-index: 9;
}

.bot-bar a {
  color: rgb(91, 145, 124);
  transition: all .5s;
}

.bot-bar a:hover {
  color: rgb(0, 255, 42)
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 9;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 40%;
  width: 124px;
  height: 124px;
  margin: 8px;
  border: 13px solid rgb(25, 212, 181);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(91, 145, 124) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.explanation-and-welcome {
  width: 40vw;
  padding: 1%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(5px);
  color: rgb(121, 218, 224) !important;
  font-size: 1vw !important ;
  line-height: 1.5;
  z-index: 999;
  animation: fade-in 1s ease-in-out both;
}

.explanation-and-welcome span {
  font-size: 1.75vw;
}

.explanation-and-welcome a {
  color: cyan;
}
.escape-key {
  position: absolute;
  padding: .5%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s;
  right: 5%;
  font-size: .75vw;
  top: 5%;
}

.escape-key:hover {
  color: grey;
  border-color: rgba(0, 255, 255, 0); 
}

.fsa-link {
  color: cyan;
}

.highlight-this {
  color: white;
  font-size: 1vw !important;
}

.shader-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.814);
  z-index: 999;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}