body {
  font-family: 'Roboto', sans-serif !important;
  color: white !important;
}

::placeholder {
  color: rgb(0, 0, 0);
  text-align: center
}

.hygenik-title-bar {
  position: fixed;
  top: 1%;
  right: 5%;
  font-size: 5vw;
  font-family: 'Advent Pro', sans-serif !important;

}

.background {
  z-index: -1;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  max-height: 100vh
}

.filter-elements {
  top: 0vh;
  position: absolute;
  /* width: 36%; */
  height: 7vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.primary-content-wrapper {
/* display: none; */
  /* border: 2px solid red;; */
  top: 2vh;
  height: 97vh;
  position: relative;
  width: 94vw;
  left: 5.5%;
  z-index: 1;
}

.map-wrapper {
  position: absolute;
  height: 70%;
  top: 16%;
  width: 58%;
  right: 2%;
  z-index: 1;
}

.submit-button {
  color: rgb(75, 177, 109);   
  cursor: pointer;
  transition: all .25s;
  position: absolute;
  padding: .5%;
  top: -5%;
  left: 25vw;
  transform: translateY(35%);
  border-radius: 4px;
  font-size: 2vh !important;
  font-weight: bold;
  background-color: rgba(91, 145, 124, 0);
}

.submit-button:hover {
  color: rgb(255, 255, 255);
}

.filter-search {
  width: 9vw;
  height: 4vh;
  z-index: 9;
  border-radius: .25vw;
  margin-left: 5%;
  text-align: center;
  border: none;
  color: rgb(85, 85, 85);
  animation: fade-in 1s;
}

.filter-search:focus {
  outline: none;
}

.clear-search-button {
  color: rgb(223, 59, 59);
  position: fixed;
  top: 10%;
  max-height: 4vh;
  font-size: 3vh; 
  z-index: 9;
  left: 45%;
  z-index: 999;
  cursor: pointer;
  border: 2px solid rgba(0, 255, 255, 0);
  border-radius: 5px;
  /* padding: .5%; */
  font-weight: bold;
  transition: all .5s;
  user-select: none;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.clear-search-button:hover {
  color: rgb(255, 255, 255);
}

.search-by-address {
  border-radius: .25vw;
  width: 9vw;
  height: 4vh;
  border: none;
}

.autocomplete-input {
  position: absolute;
  left: 0;
  z-index: 999;
}

.typeOf-inputs-container{
  z-index: 999;
  bottom: 2.5vh;
  right: 2%;
  width: 55%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  display: flex;
}

.type-changer {
  position: relative;
  top: -5vh;
  /* left: 50vw; */
  z-index: 9999;
}

.click-for-location-find {
  color: rgb(146, 219, 162);
  font-size: 1.75vh;
  width: 10vw;
  font-weight: bold;
  z-index: 99;
  cursor: pointer;
  transition: all .25s;
  background-color: rgba(128, 128, 128, 0);
  user-select: none;
}

.click-for-location-find:hover {
  color: rgb(255, 255, 255);

  /* background-color: rgb(91, 145, 124); */
}

.bot-bar {
  color: rgb(199, 199, 199);
  position: fixed;
  z-index: 9;
  bottom: 0;
  padding: 1%;
  display: none;
  height: 3vh;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(29, 29, 29);  
  font-size: 1vw;
  z-index: 9;
}

.bot-bar a {
  color: rgb(91, 145, 124);
  transition: all .5s;
}

.bot-bar a:hover {
  color: rgb(0, 255, 42)
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 9;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 40%;
  width: 124px;
  height: 124px;
  margin: 8px;
  border: 13px solid rgb(25, 212, 181);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(91, 145, 124) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.explanation-and-welcome {
  width: 40vw;
  padding: 1%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: rgb(37, 37, 37);
  backdrop-filter: blur(5px);
  color: rgb(121, 218, 224) !important;
  font-size: 1vw !important ;
  line-height: 1.5;
  z-index: 999;
  animation: fade-in 1s ease-in-out both;
}

.explanation-and-welcome span {
  font-size: 1.75vw;
  color: rgb(109, 223, 147)
}

.explanation-and-welcome a {
  color: rgb(70, 226, 161);
}

.escape-key {
  position: absolute;
  padding: .5%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s;
  right: 5%;
  font-size: .75vw;
  top: 5%;
}

.escape-key:hover {
  color: grey;
  border-color: rgba(0, 255, 255, 0); 
}

.fsa-link {
  color: cyan;
}

.highlight-this {
  color: rgb(216, 216, 216) !important;
  font-size: 1vw !important;
}

.shader-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.814);
  z-index: 999;
}

label {
  user-select: none;
  margin-right: 2vh;
  margin-left:.5vh;
  height: fit-content;
  font-size: 1vw;
  color: grey;
  font-weight: bold;
  z-index: 999;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}