body {
  font-family: 'Roboto', sans-serif !important;
}

.search-div {
  float: left;
  background-color: aqua;
}

.filter-search {
  /* width: 14% !important   ; */
  max-width: 11%;
  min-width: 11%;
  margin-top: 5.9vh;
  left: 22%;
  height: 3vh;
  max-height: 3vh;
  min-height: 3vh;;
  z-index: 9;
  position: fixed;
  text-align: center;
  display: inline-block;
  border: none;
  color: rgb(85, 85, 85);
}

.filter-search:focus {
  outline: none;
}

.clear-search-button {
  color: rgb(0, 247, 255);
  position: absolute;
  margin-top: 1vh;
  max-height: 4vh;
  font-size: 2vh; 
  left: 34.5%;  
  z-index: 9;
  cursor: pointer;
  border: 2px solid rgba(0, 255, 255, 0);
  border-radius: 5px;
  padding: .25%;
  transition: all .25s;
}

.clear-search-button:hover {
  color: rgb(251, 255, 0);
}

.search-by-address {
  left: 5%;
}

.bot-bar {
  color: rgb(199, 199, 199);
  position: absolute;
  z-index: 9;
  bottom: 0;
  padding: 1%;
  left: 0;
  height: 5vh !important;
  text-align: left;
  width: 100%;
  background-color: rgb(29, 29, 29);  
  font-size: 1vw;
  z-index: 9;
}

.bot-bar a {
  color: cyan;
  transition: all 1s;
}

.bot-bar a:hover {
  color: greenyellow
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  z-index: 9;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: fixed;
  top: 40%;
  width: 124px;
  height: 124px;
  margin: 8px;
  border: 13px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.explanation-and-welcome {
  width: 40vw;
  padding: 1%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: rgba(26, 26, 26, 0.76);
  backdrop-filter: blur(5px);
  color: rgb(121, 218, 224) !important;
  font-size: 1vw !important ;
  line-height: 1.5;
  z-index: 99;
  animation: fade-in 2s ease-in-out both;
}

.explanation-and-welcome span {
  font-size: 1.75vw;
}

.escape-key {
  position: absolute;
  padding: .5%;
  padding-left: 1.25%;
  padding-right: 1.25%;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all .25s;
  right: 5%;
  font-size: .75vw;
  top: 5%;
}

.escape-key:hover {
  color: grey;
  border-color: rgba(0, 255, 255, 0); 
}

.fsa-link {
  color: cyan;
}

.highlight-this {
  color: white;
  font-size: 1vw !important;
}

.shader-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.514);
  z-index: 99;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@-moz-keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}

@keyframes AnimationName {
  0%{background-position:0% 81%}
  50%{background-position:100% 20%}
  100%{background-position:0% 81%}
}