.search-div {
   float: left;
   background-color: aqua;
}

input[type=text], select {
   width: 8%;
   float: left;
   text-align: center;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 3px solid rgb(91, 151, 136);
   border-radius: 4px;
   box-sizing: border-box;
}