.logo {
   position: fixed;
   z-index: 998;
   right: -10vw;
   top: -12.75vh;
   height: 30vh;
   transition: all .25s;
   display: none;
}

.nav-wrapper {
   display: flex;
   align-items: left;
   width: 100vw;
   position: fixed;
   align-items: flex-end;
   height: 4.5vh;
   background-color: rgb(75, 177, 109);  
   box-shadow: 2px 2px 25px rgb(43, 141, 84);
   /* border-bottom: 2px solid rgb(85, 85, 85);  */
   color: white !important;
}

.navbar-item {
   color: rgb(255, 255, 255);
   font-size: 2.5vh;
   min-width: 9vw;
   padding: .25%;
   font-weight: bold;
   background-color: rgba(91, 145, 124, 0);
   transition: all .25s;
   text-decoration: none !important;
}

.navbar-item:hover {
   color: rgb(223, 223, 223);
   /* background-color: rgb(134, 134, 134); */
   border-color: rgba(128, 128, 128, 0);
}

.logged-in-as {
   position: absolute;
   right: 0;
   height: 100%;
   padding: .5%;
   font-size: 1.5vh !important;
   color: rgb(255, 255, 255) !important;
   box-shadow: 5px 5px 15px rgb(43, 43, 43);
   background: rgb(44, 44, 44);
   cursor: default;
   font-weight: bold !important;
}

.logged-in-as span {
   color: rgb(255, 166, 0);
   /* font-size: 2vh; */
}