.autocomplete-dropdown-container {
   width: 20vw;
   z-index: 999;
   color: rgb(110, 110, 110);
   border-radius: 5vw !important;
   position: absolute;
}

.location-search-input {
   width: 20vw;
   color: rgb(48, 48, 48) !important;
   height: 4vh;
   border: none;
   z-index: 9;
   border-radius: .25vw;
}

.suggestion-item--active, .suggestion-item {
   color: rgb(19, 19, 19) !important
}