.login-container {
  height: 100vh;
  background-color: #42c5da !important;
  /* background: linear-gradient(239deg, #37eab4, #37d9ea); */
  background-size: 400% 400%;
  -webkit-animation: AnimationName 6s ease infinite;
  -moz-animation: AnimationName 6s ease infinite;
  animation: AnimationName 6s ease infinite;
  background-size: 600% 600%;
  animation-name: background-anim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.login-content-container {
  position: relative;
  height: 50%;
  width: 30%;
  /* border: 2px solid rgb(255, 255, 255); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5vw;
}

.title-text {
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  color: white;
  font-size: 5vw;
}

.login-content-inputs-container-flex {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative; 
}

.username-input-container {
  margin: 5%;
  font-size: .75vw;

}

.password-input-container {
  margin: 5%;
  font-size: .75vw;

}

.login-form {
  position: relative;
  top: 5%;
}

.username-input-container input, .password-input-container input {
  border-radius: .25vw;
  height: 4vh;
  width: 15vw;
  border: none;
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 1vw;
}

.registration-link, .login-submit {
  background: none;
  position: relative;
  font-size: 1.5vw;
  height: fit-content;
  border: none;
  width: fit-content;
  color: white !important;
  text-decoration: none !important;
}

.errors {
  position: absolute;
  bottom: 10%;
  color: rgb(255, 0, 0);
  font-size: 1.75vw;
  width: 110%;
  text-align: center;
}