 .page-login {
   padding : 33vh;
 }

 .login-container {
    height: 100vh;
    /* background: linear-gradient(233deg, #a3ca9e, #91f1d1, #93bd88); */
    background: linear-gradient(233deg, #64d9e9, #c1f3ff, #64d9e9);
    background-size: 600% 600%;
    animation-name: background-anim;
    animation-duration: 8s;
    animation-iteration-count: infinite;
 }
 @keyframes background-anim {
    0%{background-position:92% 0%}
    50%{background-position:9% 100%}
    100%{background-position:92% 0%}  
}

 .text {  
  font-family: 'Saira Semi Condensed', sans-serif;
  padding: 0 20px;
   font-size: 20px;
   color: white;
 }

 .ui-card {
   margin: auto;
   width: 35%
 }

 .title-text {
    color: white;
    font-size: 40px;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-shadow: 15px 3px 75px white;

 }

 .register-link {
    color: white;
    width: 27%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid rgb(255, 255, 255);
   border-radius: 4px;
   box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0);
 }

 .signin-link {
  color: white;
  width: %;
 /* padding: 12px 20px; */
 margin: 8px 0;
 display: inline-block;
 border: 1px solid rgb(255, 255, 255);
 border-radius: 4px;
 box-sizing: border-box;
 background-color: rgba(255, 255, 255, 0);
}

 input[type=text], select {
   width: 3%;
   text-align: center;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 3px solid rgb(255, 252, 252);
   border-radius: 4px;
   box-sizing: border-box;
 }

 input[type=password], select {
   width: 3%;
   text-align: center;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 3px solid rgb(255, 253, 253);
   border-radius: 4px;
   box-sizing: border-box;
 }

 input[type=submit], select {
   width: 75%;
   padding: 12px 20px;
   background-color: rgba(255, 255, 255, 0);
   margin: 8px 0;
   display: inline-block;
   border: 1px solid rgb(255, 254, 254);
   border-radius: 4px;
   box-sizing: border-box;
   color: white;
 }

 .login-border-box {
   position: relative;
   padding-top: 15px;
   width: 40vh;
   height: 35vh;
   display: inline-block;
   border-radius: 6px;
   border: 2px solid white;
   background: linear-gradient(233deg, #64d9e9, #c1f3ff, #64d9e9);
   background-size: 600% 600%;
   animation-name: background-anim;
   animation-duration: 8s;
   animation-iteration-count: infinite;
 }