* {
  font-family: 'Cairo', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(126, 62, 62);
}

.App-link {
  color: #61dafb;
}

.ui.menu {
  display: flex;
  margin-right: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow:  5px 5px 10px rgba(34,36,38) !important;
  border-radius: 0 !important;
  background-color: rgba(21, 51, 76, 0.596) !important;
}

.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  user-select: none;
  background: 0 0;
  border: none !important;
  text-transform: none;
  color: rgb(255, 255, 255) !important;
  font-weight: 400;
  font-size: 1.2vw;
  transition: all .25s !important;
  font-family: 'Cairo', sans-serif !important;
}

.ui.menu .item:hover {
  color: rgb(255, 217, 0) !important;

}

.ui.fluid.dropdown {
  display: block;
  width: 43% !important;
  min-width: 0;
}

.ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0);
  min-width: 1em !important;
  min-height: 2.71428571em;
  background: rgb(210, 219, 217) !important;
  display: inline-block;
  padding: .78571429em 2.1em .78571429em 1em;
  color: rgba(0,0,0,.87);
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  transition: box-shadow .1s ease,width .1s ease;
}

.ui.selection.dropdown .menu>.item {
  border-top: 1px solid #98c8b0 !important;
  padding: .78571429rem 1.14285714rem!important;
  white-space: normal;
  word-wrap: normal;
}

.ui.selection.dropdown .menu>.item {
  border-top: 1px solid #91bdc08e !important;
  padding: .78571429rem 1.14285714rem!important;
  white-space: normal;
  word-wrap: normal;
}

.ui.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: 0;
  top: 100%;
  min-width: 40px !important;
  margin: 0;
  padding: 0 0;
  background: #7fb1aab7 !important;
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  transition: opacity .1s ease;
  z-index: 11;
  will-change: transform,opacity;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
  color: rgba(255, 255, 255, 0.87) !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
