.map-border {
   border-radius: 10px !important;
   overflow: visible;
}

.main-map-div {
   padding-left: 2% !important;
   margin-top: 2% !important;
   padding-right: 2% !important;
   padding-top: 2.5% !important;
   overflow: hidden;
}

h4, h5 {
   color: rgb(65, 65, 65) !important;
}

h1 {
   color: rgb(0, 172, 172);
}